{% extends 'base.html' %}
{% load static %}


{% block titulo %}
    {{accion}} Perfil
{% endblock titulo %}

{% block contenido %}
    <h1>{{accion}} Perfil</h1>
    <a>{{request.user.first_name}} {{request.user.last_name}},</a>
    <a>{{request.user.email}}, {{request.user.curp}}</a>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input class="btn btn-success" type="submit" value="Guardar">
        <a class="btn btn-danger" href="{% url 'bienvenida' %}">Cancelar</a>
    </form>
{% endblock contenido %}

{% block scripts %}
    <script src="{% static 'dist/js/funciones.js' %}"></script>
{% endblock scripts %}