{% extends 'base.html' %}
{% load static %}


{% block titulo %}
    Nuevo Campo
{% endblock titulo %}

{% block contenido %}
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger">
                     {{message}}
                </div>
            {% else %}
                <div class="alert alert-success">
                    {{message}}
                </div>
            {% endif %}        
        {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-header">
                <h1>Agregar un nuevo campo</h1>
            </div>
            <div class="card-body">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                    </div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            {{ form.as_p }}
                                        </div>
                                        <div class="col">
                                                <div class="progress-bar bg-info" role="progressbar" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                </div>
                            </div>
                        </div>
                    </div>
                    <input class="btn btn-success" type="submit" value="Agregar">
                
                    <a class="btn btn-danger" href="{% url 'modalidades_lista' %}">Regresar</a>
            </div>
        </div>
    </form>




{% endblock contenido %}

{% block scripts %}
    {% comment %} <script src="{% static 'dist/js/pages/dashboard3.js' %}"></script> {% endcomment %}
{% endblock scripts %}
