{% extends 'base.html' %}

{% block titulo %}
    Lista de campos
{% endblock titulo %}

{% block contenido %}
    <h1>Campos de la modalidad: {{nom_formulario}} </h1>
    <a class="btn btn-success" href="{% url 'nuevo_campo' id_form %}">Agregar Campo</a>
    <table class="table">
        <thead>
            <tr>
                <th>Campo</th>
                <th>Tipo del campo</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for camposFormulario in camposFormularios  %}
                <tr>
                    <td>{{camposFormulario.campo}}</td>
                    <td>{% if camposFormulario.tipo_dato == "1" %}
                            Texto  
                        {% else %}
                            {% if camposFormulario.tipo_dato == "2" %}
                                Númerico 
                            {% else %}
                                {% if camposFormulario.tipo_dato == "3" %}
                                    Decimal
                                {% else %}
                                    {% if camposFormulario.tipo_dato == "4" %}
                                        Fecha
                                    {% else %}
                                        {% if camposFormulario.tipo_dato == "5" %}
                                            Fecha y hora
                                        {% else %}
                                            {% if camposFormulario.tipo_dato == "6" %}
                                                Correo electrónico
                                            {% else %}
                                                {% if camposFormulario.tipo_dato == "7" %}
                                                    Selección (Combo)
                                                {% else %}
                                                    {% if camposFormulario.tipo_dato == "8" %}
                                                        Selección (Opciones)
                                                    {% else %}
                                                        Archivo PDF
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>{% if camposFormulario.tipo_dato == "7" %}
                            <a class="btn btn-success"  href="{% url 'opcion_campo_Nuevo' camposFormulario.id %}">Agregar opcion de campo</a>
                        {% else %}
                            {% if camposFormulario.tipo_dato == "8" %}
                                <a class="btn btn-success"  href="{% url 'opcion_campo_Nuevo' camposFormulario.id %}">Agregar opcion de campo</a>
                            {% endif %}
                        {% endif %}
                        <a class="btn btn-success"  href="{% url 'editar_campo' camposFormulario.id %}">Editar Campo</a>
                        <a class="btn btn-danger" href="{% url 'eliminar_campo' camposFormulario.id %}">Eliminar</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3-">
                        <p>No hay solicitudes registradas</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}
