{% extends 'base.html' %}

{% block titulo %}
    Solicitudes
{% endblock titulo %}

{% block contenido %}
    <h1>Lista de solicitudes</h1>
    <form method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <th>{{form.formularios}}</th>
                <th>{{form.usuario}}</th>
                <th><button class="btn btn-primary" type="submit">Buscar</button></th>
            </tr>
        </table>
    </form> 
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Modalidad</th>
                <th>Usuario</th>
                <th>Validacion</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for contestaFormulario in contestaFormularios  %}
                <tr>
                    <td>{{contestaFormulario.fecha}}</td>
                    <td>{{contestaFormulario.formularios}}</td>
                    <td>{{contestaFormulario.usuario.first_name}} {{contestaFormulario.usuario.last_name}}
                        {{contestaFormulario.usuario.curp}}
                    </td>
                    <td>
                        {% if contestaFormulario.validacion == "0" %}
                            Pendiente
                        {% else %}
                            {% if contestaFormulario.validacion == "1" %}
                                Aceptado
                            {% else %}
                                Rechazado
                            {% endif %}
                        {% endif %}
                    </td>
                    
                    <td>
                        <a class="btn btn-outline-primary btn-sm" href="{% url 'lista_solicitudes' contestaFormulario.id %}">Detalles</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">
                        <p>No hay solicitudes registradas</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}
