{% extends 'base.html' %}
{% load static %}


{% block titulo %}
    Registro de campos
{% endblock titulo %}

{% block contenido %}
<body>
    <h1>Modalidad: {{nom_formulario}} </h1>
    
    <form method="POST" enctype="multipart/form-data" class="post-form">
        {% csrf_token %}
        {% comment %}
        {% for campo in quiz.campos.all  %}
            <p>
                <label for="id_campo.id">{{campo}}</label>
                {% if campo.opciones == '1' %}
                    <select name="{{campo.id}}" id="" {{campo.requerida|requerido}}>
                        {% for opcion in campo.opciones_campo.all %}
                            <option value="{{opcion.valor}}">{{opcion.opcion}}</option>
                        {% endfor %}
                    </select>
                {% else %}

                <input name="{{campo.id}}" type="{{campo.tipo_dato|tipo_dato}}" {{campo.requerida|requerido}}>
                {% endif %}    
            </p>
            
        {% endfor %}
        {% endcomment %}
        {{form.as_p}}
            
        <a class="btn btn-danger" href="{% url 'modalidades_lista' %}">Regresar</a>
        <input class="btn btn-success" type="submit" value="Guardar">
    </form>
</body>
</html>
{% endblock contenido %}

{% block scripts %}
    <script src="{% static 'dist/js/funciones.js' %}"></script>
{% endblock scripts %}