{% extends 'base.html' %}

{% block titulo %}
    Lista de Detalles de la modalidad
{% endblock titulo %}

{% block contenido %}
    <link rel="stylesheet" type="text/css" href="static/dist/css/estilos.css">
    <p><h1>Lista de Detalles de la modalidad</h1></p>
    
    {% for grupo in request.user.groups.all %} 
        {% if 'Administrador' in grupo.name %}
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="alert alert-danger">
                            {{message}}
                        </div>
                    {% else %}
                        <div class="alert alert-success">
                            {{message}}
                        </div>
                    {% endif %}        
                {% endfor %}
            {% endif %}
            {% load static %}
        {% endif %}
    {% endfor %}

    <table class="table">
        <thead>
            <tr>
                <th>Campo</th>
                <th>Respuesta</th>
                <th>contesta_formularios</th>
            </tr>
        </thead>
        <tbody>
            {% for detalles in object_list  %}
                <tr>
                    <td>
                        {{detalles.campo}}
                    </td>
                    <td>
                        {% if detalles.uploadedFile %}                            
                            <embed src="{{MEDIA_URL}}{{detalles.uploadedFile.url}}" width="50%" height="250px" />
                            
                            <a href="{{ detalles.uploadedFile.url }}">{{ detalles.uploadedFile.url }} </a>

                        {% else %}
                            {{detalles.respuesta}}
                        {% endif %}
                    </td>
                    <td>
                        {{detalles.contesta_formularios}}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">
                        <p>No existen modalidades registradas</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}