{% extends 'base.html' %}

{% block titulo %}
    Modalidades
{% endblock titulo %}

{% block contenido %}
    <link rel="stylesheet" type="text/css" href="static/dist/css/estilos.css">
    <p><h1>Lista de Modalidades</h1></p>
    
    {% for grupo in request.user.groups.all %} 
        {% if 'Administrador' in grupo.name %}
            <a class="btn btn-success" href="{% url 'nueva_convocatoria'  %}" >Activar Convocatoria</a>
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="alert alert-danger">
                            {{message}}
                        </div>
                    {% else %}
                        <div class="alert alert-success">
                            {{message}}
                        </div>
                    {% endif %}        
                {% endfor %}
            {% endif %}
            {% load static %}
            <a href="{% url 'nuevoFormulario' %}"> <img src="{% static 'dist/img/AgregarModulo.png' %}" alt="AgregarModulo" class="redimension" width="20" height="20" HSPACE="10" VSPACE="10"> </a>
        {% endif %}
    {% endfor %}

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                {% for grupo in request.user.groups.all %} 
                    {% if 'Administrador' in grupo.name %}
                        <th>Opciones</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for formulario in object_list  %}
                <tr>
                    <td ><a class="d-block" href="{% url 'formulario' formulario.id %}">{{formulario.nombre}}</a></td>
                    <td>
                        {% if formulario.descripcion %}
                            {{formulario.descripcion}}    
                        {% else %}
                            No cuenta con descripción
                        {% endif %}
                    </td>
                    {% for grupo in request.user.groups.all %} 
                        {% if 'Administrador' in grupo.name %}
                        <td>
                            <body>
                                {% load static %}
                                <a href="{% url 'campos_Lista' formulario.id %}"> <img src="{% static 'dist/img/Ver.png' %}" alt="Ver" class="redimension" width="40" height="20" HSPACE="10"> </a>
                                <a href="{% url 'editarFormulario' formulario.id %}"> <img src="{% static 'dist/img/Editar.png' %}" alt="Editar" class="redimension" width="30" height="20" HSPACE="10"> </a>
                                <a href="{% url 'eliminar_Formulario' formulario.id %}"> <img src="{% static 'dist/img/Eliminar.png' %}" alt="Eliminar" class="redimension" width="30" height="25" HSPACE="10"> </a>
                        </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">
                        <p>No existen modalidades registradas</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}
