{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {% block titulo %}
      
    {% endblock titulo %}
  </title>
  <link rel="icon" type="image/x-icon" href="{% static 'Logos Labsol 2022-02' %}">
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- IonIcons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
  {% block css %}
    
  {% endblock css %}
</head>
<!--
`body` tag options:

  Apply one or more of the following classes to to the body tag
  to get the desired effect

  * sidebar-collapse
  * sidebar-mini
-->
<body class="hold-transition sidebar-mini">
<div class="wrapper shadow">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </ul>
    <a>Bienvenido {{request.user.first_name}} {{request.user.last_name}}</a> <!-- Bienvenida del usuario -->

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="fas fa-th-large"></i>
        </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="{% url 'perfilEditar' %}" class="d-block">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Editar Perfil
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}" class="d-block" data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Cerrar sesíon
            </a>
        </div>
        </div>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color:#781005">
    <!-- Brand Logo -->
    <a class="brand-link">
      <img src="{% static 'dist/img/LogoBarra2.jpeg' %}" alt="LogoBarra2" class="redimension" width="220" height="80">
    </a>

    <!-- Sidebar -->  
    <div class="sidebar ">
      <!-- Sidebar Menu -->
      
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          
          {% for grupo in request.user.groups.all %} 
            {% if 'Administrador' in grupo.name %}
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="nav-icon fas fa-copy"></i>
                  <p>
                    Usuarios
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{% url 'usuarios_lista' %}" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Lista</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'solicitudes_lista' %}" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Solicitudes</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="{% url 'convocatoria_lista' %}" class="nav-link">
                  <i class="nav-icon fas fa-copy"></i>
                  <p>
                    Convocatoria
                  </p>
                </a>            
              </li>
            {% endif %}
          {% endfor %}

          <li class="nav-item">
            <a href="{% url 'solicitudes_lista1' %}" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>Mis Solicitudes</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="{% url 'modalidades_lista' %}" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Modalidades
              </p>
            </a>            
          </li>

          {% for grupo in request.user.groups.all %} 
            {% if 'Administrador' in grupo.name %}
            <li class="nav-item">
              <a href="{% url 'modalidades_lista' %}" class="nav-link">
                <i class="nav-icon fas fa-chart-pie"></i>
                <p>
                  Estadisticas
                </p>
              </a>            
            </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        {% block contenido %}
              
        {% endblock contenido %}
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->

  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
<!-- Main Footer -->
  <footer class="main-footer">
    <img src="{% static 'dist/img/GPLv3_Logo.png' %}" alt="GPLv3_Logo" class="redimension" width="85" height="35"> 
    
    <div class="float-right d-none d-sm-inline-block">
      <b><img src="{% static 'dist/img/Logos Labsol 2022_Mesa de trabajo 1.png' %}" alt="Logos Labsol 2022_Mesa de trabajo 1" class="redimension" width="110" height="40"></b>  Version 3.2.1
    </div>
  </footer>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE -->
<script src="{% static 'dist/js/adminlte.js' %}"></script>

<!-- OPTIONAL SCRIPTS -->
<script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js' %}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->

{% block scripts %}

{% endblock scripts %}
{% comment %}<script src="{% static 'dist/js/pages/dashboard3.js' %}"></script>{% endcomment %} 
</body>
</html>